@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Noto Serif;
}
nav {
  display: flex;
  background-color: red;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  padding: 0px 50px 0px 80px;
  align-items: center;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

nav ul {
  display: flex;
}
nav ul li {
  list-style-type: none;
  margin: 0 8px;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  transition: 0.5s;
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
}
nav ul li a:hover,
nav ul li a.active {
  background-color: #566573;
}

.menu-btn {
  color: white;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
#click {
  display: none;
}

/* responsive work start */

@media only screen and (max-width: 940px) {
  .menu-btn {
    display: block;
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background-color: #566573;
    height: 100vh;
    width: 100%;
    padding-top: 20px;
    flex-direction: column;
    text-align: center;
    transition: all 0.5s ease;
  }
  #click:checked ~ .menu-btn i::before {
    content: "\f00d";
  }
  #click:checked ~ ul {
    left: 0%;
  }
  nav ul li {
    margin: 50px 10px;
  }
  nav ul li a {
    font-size: 22px;
  }
  nav ul li a:hover,
  nav ul li a.active {
    background: none;
    color: red;
  }
}

/* header section code start here */
header {
  background-image: url("images/istock.webp");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: 10px;
  background-position: center;
}
/* header section code end here */
/* main section start here */
#frist-section {
  background-color: rgba(0, 0, 0, 0.768);
  padding-bottom: 100px;
}
.service-title {
  text-align: center;
  color: white;
  padding: 50px 0px;
  letter-spacing: 0.2em;
  font-size: 28px;
}
#srvice-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1100px;
  margin: 0 auto;
  grid-gap: 25px;
}
.single-service {
  background-color: white;
  text-align: center;
  color: black;
  padding: 30px 20px;
  border-radius: 5px;
  border: 5px solid green;
  box-shadow: 5px 5px 10px gray;
}
.single-service i {
  font-size: 40px;
}
.single-service h2 {
  margin: 10px 0px;
  font-weight: bold;
}

/* second section of main tag code start */
.second-section {
  background-color: #154360;
  padding: 50px 0 100px 0;
}
.smart-title {
  text-align: center;
  color: yellow;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 0.2em;
}
#smart-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
}
.smart-text {
  color: white;
}
.smart-text h2 {
  margin: 20px 0px;
  font-size: 30px;
}
.smart-text a {
  text-decoration: none;
  font-size: 22px;
  background-color: bisque;
  color: black;
  padding: 10px 30px;
  border-radius: 30px;
  display: inline-block;
  margin-top: 40px;
}
/* frist section of main tag media query start */
@media only screen and (max-width: 688px) {
  #srvice-parent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    width: 100%;
  }
  #smart-parent {
    display: block;
    margin-left: 30px;
    margin-right: 30px;
  }
  .smart-image img {
    width: 100%;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 689px) and (max-width: 1099px) {
  #srvice-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 100%;
  }
  #smart-parent {
    display: block;
    margin-left: 70px;
    margin-right: 70px;
  }
  .smart-image img {
    width: 100%;
    margin-bottom: 70px;
  }
}
/* frist section of main tag media query end */
/* main section end here */
